.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
}

.subContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
}

.title{
    font-size: 36px;
    font-weight: 500;
    color: #FF8906;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #E53170;
    margin: 0;
    text-align: left;
}

.subtitleInfo{
    font-size: 14px;
    font-weight: 400;
    color: #E53170;
    margin: 0;
    text-align: left;
}

@media only screen and (max-width: 1000px) {

}   


@media only screen and (max-width: 600px) {
    .container{
        margin-left: 0px;
        align-items: center;
    }
    .subContainer{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .title{
        font-size: 26px;
        font-weight: 500;
        color: #FF8906;
        margin-left: 80px;
    }
    .subtitle{
        margin-left: 80px;
        font-size: 15px;
    }
}

