.form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
}

.input{
    padding-left: 10px;
    border-color: black;
    border-width: 1px;
    width: 280px;
    height: 40px;
}

.error{
    margin: -17px 0 0 0;
    text-align: left;
    color: #E53170;
    font-size: 13px;
    font-weight: 500;
}

.button{
    background: #FF8906;
    border-radius: 5px;
    border-style: none;
    width: 280px;
    height: 40px;
}

.button:hover{
    transform: scaleX(1.03) scaleY(1.03);
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}

.buttonOff{
    background: #9B9B9B;
    border-radius: 5px;
    border-style: none;
    width: 285px;
    height: 40px;
}

.button_text{
    color: #FFFFFE;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Figtree', sans-serif;
}