.form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.subContainer{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.subContainerSelect{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.subContainerDivision{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
}

.priceContainer{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
}

.inputContainerOptions{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
    width: 250px;
}

.input{
    padding-left: 10px;
    border-color: black;
    border-width: 1px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.inputPrice{
    padding-left: 10px;
    border-color: black;
    border-width: 1px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.inputOptions{
    padding-left: 10px;
    border-color: black;
    border-width: 1px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
}

.labelPrice{
    margin: 0 0 0 -15px;

}

.inputImage[type="file"] {
    display: none;
}

.inputImageLabel{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #E53170;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    color: #FFFFFE;
}

.listContainer{
    width: 250px;
    display: flex;
    background-color: #DDDDDD;
    border-radius: 5px;
    height: 190px;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.listLearn{
    list-style-type: none;
    justify-content: left;
    height: 190px;
}

.listBullet{
    text-align: left;;
}

.inputSelect{
    padding-left: 10px;
    border-color: black;
    border-width: 1px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.textarea{
    border-color: black;
    width: 250px;
    height: 160px;
    resize: none;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Figtree', sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.textareaMedium{
    border-color: black;
    width: 250px;
    height: 100px;
    resize: none;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Figtree', sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.checkboxContainer{
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
    width: 250px;
}

.textOptions{
    width: 200px;
    margin: 0;
}

.error{
    margin: -12px 0 0 0;
    text-align: left;
    color: #E53170;
    font-size: 13px;
    font-weight: 500;
}

.errorSmall{
    margin: 0 0 0 0;
    text-align: left;
    color: #E53170;
    font-size: 13px;
    font-weight: 500;
}

.errorImage{
    margin: 0;
    text-align: left;
    color: #E53170;
    font-size: 13px;
    font-weight: 500;
}

.button{
    background: #FF8906;
    border-radius: 5px;
    border-style: none;
    margin-top: 50px;
    width: 280px;
    height: 40px;
}

.button:hover{
    transform: scaleX(1.03) scaleY(1.03);
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}

.button_text{
    color: #FFFFFE;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Figtree', sans-serif;
}

.buttonOptions{
    background: none;
    cursor: pointer;
    border-radius: 25px;
    border-style: none;
}

.buttonOff{
    background: #9B9B9B;
    border-radius: 5px;
    border-style: none;
    width: 285px;
    height: 40px;
}

@media only screen and (min-width: 600px) {

    .subContainer{
        justify-content: flex-start;
    }

    .subContainer:first-child{
        width: 600px;
    }

    .subContainerDivision{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    }

    .listContainer{
        width: 400px;
    }    
  
    .input{
        width: 400px;
    }

    .inputContainerOptions{
        width: 400px;
    }

    .inputPrice{
        width: 145px;
    }

    .inputSelect{
        width: 190px;
    }

    .textarea{
        width: 400px;
    }

    .textareaMedium{
        width: 400px;
    }

    .inputImageLabel{
        width: 400px;
    }
}

@media only screen and (min-width: 1000px) {
    .container{
        flex-direction: row;
        gap: 80px;
        align-items: flex-start;
    }

    .input{
        width: 400px;
    }

    .checkboxContainer{
        width: 400px;
    }
}
  