.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
}

.subContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.title{
    font-size: 36px;
    font-weight: 500;
    color: #FF8906;
}


