.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 80px;
}

.subContainerInfo{
   display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 80px;
    margin-left: 80px;
    margin-top: 80px;
}

.containerText{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
    column-gap: 80px;
}

.containerParagraph{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    word-wrap: break-word ;
}

.containersubText{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
    column-gap: 80px;
}

.containerName{
    display: flex;
    margin-left: 20px;
    align-items: flex-start;
    flex-direction: column;
}

.imageContainer{
    width:500px;
    height:370px;
}

.coursesContainer{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 50px;
    margin-top: 50px;
}

.userInfo{
    margin-top: 50px;
    display: flex;
}

.userName{
    margin: 0;
    font-size: 24px;
}

.rating{
    display: flex;
}

.title{
    font-size: 36px;
    font-weight: 600;
    color: #FF8906;
    margin: 0;
}

.titleOff{
    font-size: 36px;
    font-weight: 600;
    color: #757575;
    margin: 0;
}

.subtitle{
    font-size: 28px;
    font-weight: 500;
    color: #FF8906;
    margin: 0 ;
    text-align: left;
}

.subtitleOff{
    font-size: 28px;
    font-weight: 500;
    color: #757575;
    margin: 0 ;
    text-align: left;
}

.subModule{
    width: 500px;
}

.text{
    text-align: left;
}

.textOff{
    text-align: left;
    color: #757575;
}

.legend{
    font-size: 18px;
    font-weight: 400;
    color: #FF8906;
    margin: 0 0 10px 0;
}

.legendOff{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 0 0 10px 0;
}

.image{
    object-fit: cover;
    width:100%;
    height:100%;
}

.errorText{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.errorBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}
